/* css/parts/full-screen-slider.css */
/*===========================================================*/
/*動きを組み合わせて全画面で見せる */
/*===========================================================*/
#slider {
    width: 100%;
    height: 91vh;
    /*スライダー全体の縦幅を91vhにする*/
}