/* css/parts/sticky-header.css */
/*===========================================================*/
/*スクロール途中から上部固定 */
/*========================================================================================================================================*/

#header {
	position: fixed;
	/*fixedを設定して固定*/
	height: 70px;
	/*高さ指定*/
	width: 100%;
	/*横幅指定*/
	z-index: 999;
	/*最前面へ*/
	/*以下はレイアウトのためのCSS*/
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 20px 100px 20px 0;
}

/*==ふわっと出現させるためのCSS*/

/*　上に上がる動き　*/

#header.UpMove {
	position: fixed;
	width: 100%;
	animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
	from {
		opacity: 1;
		transform: translateY(0);
	}

	to {
		opacity: 0;
		transform: translateY(-100px);
	}
}

/*　下に下がる動き　*/

#header.DownMove {
	position: fixed;
	width: 100%;
	animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@media screen and (max-width:960px) {

	#header,
	#header.UpMove,
	#header.DownMove {
		animation: none;
		height: auto;
		padding: 0;
		display: block;
	}

}