/* css/parts/dropdown-nav.css */
/*===========================================================*/
/*ドロップダウンメニュー（上） */
/*===========================================================*/

/*========= ナビゲーションドロップダウンのためのCSS ===============*/

/*ナビゲーションを横並びに*/
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

/*2階層目以降は横並びにしない*/
nav ul ul {
    display: block;
}

/*下の階層のulや矢印の基点にするためliにrelativeを指定*/
nav ul li {
    position: relative;
}

/*ナビゲーションのリンク設定*/
nav ul li a {
    display: block;
    text-decoration: none;
    color: #eee;
    /* テーマ変数に変更を推奨 */
    padding: 20px 35px;
    transition: all .3s;
}

nav ul li li a {
    padding: 10px 35px;
}


@media screen and (max-width:1200px) {
    nav ul li a {
        padding: 20px;
    }

    nav ul li li a {
        padding: 10px 20px;
    }
}

nav ul li a:hover {
    color: #fff;
    /* テーマ変数に変更を推奨 */
}

/*==矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before {
    content: '';
    position: absolute;
    left: 15px;
    top: 30px;
    width: 6px;
    height: 6px;
    border-top: 2px solid #eee;
    /* テーマ変数に変更を推奨 */
    border-right: 2px solid #eee;
    /* テーマ変数に変更を推奨 */
    transform: rotate(135deg);
}

@media screen and (max-width:1200px) {
    nav ul li.has-child::before {
        left: 0;
    }
}

/*== 2・3階層目の共通設定 */

/*下の階層を持っているulの指定*/
nav li.has-child ul {
    /*絶対配置で位置を指定*/
    position: absolute;
    left: 0;
    top: 62px;
    z-index: 4;
    /*形状を指定*/
    background: rgba(255, 255, 255, 0.2);
    /* テーマ変数に変更を推奨 */
    width: 180px;
    /*はじめは非表示*/
    visibility: hidden;
    opacity: 0;
    /*アニメーション設定*/
    transition: all .3s;
}

/*hoverしたら表示*/
nav li.has-child:hover>ul,
nav li.has-child ul li:hover>ul,
nav li.has-child:active>ul,
nav li.has-child ul li:active>ul {
    visibility: visible;
    opacity: 1;
}

/*ナビゲーションaタグの形状*/
nav li.has-child ul li a {
    color: #fff;
    /* テーマ変数に変更を推奨 */
    border-bottom: solid 1px rgba(255, 255, 255, 0.4);
    /* テーマ変数に変更を推奨 */
}

nav li.has-child ul li:last-child a {
    border-bottom: none;
}

nav li.has-child ul li a:hover,
nav li.has-child ul li a:active {
    background: rgba(255, 255, 255, 0.2);
    /* テーマ変数に変更を推奨 */
}

/*==960px以下の形状*/

@media screen and (max-width:960px) {
    nav {
        padding: 0;
    }

    nav ul {
        display: block;
    }

    nav ul li a {
        border-bottom: 1px solid #ccc;
        /* テーマ変数に変更を推奨 */
    }

    /*矢印の位置と向き*/

    nav ul li.has-child::before {
        left: 20px;
    }

    nav ul ul li.has-child::before {
        transform: rotate(135deg);
        left: 20px;
    }

    nav ul li.has-child.active::before {
        transform: rotate(-45deg);
    }

}