/* Footer Styles */
#footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    opacity: 0.8;
    padding: 5%;
}

#footer .footer-info {
    width: 30%;
}

#footer .footer-info .footer-logo {
    font-size: 1.5rem;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

#footer .footer-info address {
    font-style: normal;
    margin: 0 0 10px 0;
}

#footer .footer-info ul li {
    margin: 0 0 10px 0;
}

#footer .footer-info dl dt,
#footer .footer-info dl dd {
    display: inline-block;
}

#footer .footer-info dl dt::after {
    content: ':';
    padding: 0 10px;
}

#footer .footer-link {
    width: 65%;
}

#footer .footer-link ul {
    display: flex;
    flex-wrap: wrap;
    line-height: 2.5;
}

#footer .footer-link ul li {
    margin: 0 20px;
}

#footer .footer-link ul ul li {
    margin: 0 10px 0 0;
}

#footer .footer-link ul ul {
    display: block;
}

#footer small {
    padding: 100px 0 0 0;
    display: block;
    text-align: right;
    color: #aaa;
    /* この色もテーマで変わるなら var() に */
}

@media screen and (max-width:830px) {
    #footer {
        justify-content: center;
        padding: 5% 0;
    }

    #footer .footer-info {
        width: 100%;
        padding: 0 0 5% 0;
        margin: 0 0 5% 0;
        text-align: center;
        border-bottom: 1px solid #aaa;
        /* この色もテーマで変わるなら var() に */
    }

    #footer .footer-info li:nth-of-type(2) dt::after {
        content: '';
        padding: 0;
    }

    #footer .footer-info li:nth-of-type(2) dd {
        display: block;
    }

    #footer .footer-link {
        width: auto;
    }

    #footer .footer-link ul {
        justify-content: center;
    }

    #footer small {
        padding: 10% 0;
        text-align: center;
    }
}

@media screen and (max-width:400px) {
    #footer .footer-link ul li {
        margin: 0 10px;
    }
}